In [1]:
vec = [-4, -2, 0, 2, 4]

In [2]:
matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [3]:
print(matrix)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [4]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [6]:
whitelist = [
    ['user','uid','usergroup'],
    ['foo',1000,'bar']
]

In [7]:
whitelist

[['user', 'uid', 'usergroup'], ['foo', 1000, 'bar']]

In [8]:
import pandas as pd

In [9]:
uid = 1000

In [11]:
[[row[i] for row in matrix] for i in range(4)]

NameError: name 'i' is not defined

In [12]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [13]:
'orange' in basket

True

In [14]:
a = set('test')

In [15]:
a = set('stenton')

In [16]:
a

{'e', 'n', 'o', 's', 't'}

In [19]:
whitelist = pd.read_csv('../whitelist.csv')

In [20]:
whitelist

  user user_type           uid
0  foo   default  987204272651
1  bar   default  987204272652
2  two   defualt   25737664377
3  ads   default   24949135176
4  NaN       NaN  661562861955

In [21]:
user_list = whitelist.loc[:,'user']

In [25]:
user_uid = whitelist.loc[0,'uid']

In [26]:
user_uid

987204272651

In [27]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
   ....:      'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [28]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [29]:
d['one']

a    1.0
b    2.0
c    3.0
dtype: float64

In [30]:
df = pd.DataFrame(d)

In [31]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [33]:
wl = {987204272651: pd.Series(['foo','default'], index=['user','usergroup'])}

In [34]:
wl

{987204272651: user             foo
 usergroup    default
 dtype: object}

In [35]:
wl_df = pd.DataFrame(wl)

In [36]:
wl_df

          987204272651
user               foo
usergroup      default

In [37]:
data[:] = [("foo","default",987204272651),("bar","default",25737664377)]

NameError: name 'data' is not defined

In [38]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [39]:
data2

[{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [40]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [41]:
pd.DataFrame(data2, columns=['a','b'])

   a   b
0  1   2
1  5  10

In [42]:
wl2 = [{'user': 'foo', 'usergroup': 'bar', "uid": 987204272651}]

In [43]:
wl2

[{'user': 'foo', 'usergroup': 'bar', 'uid': 987204272651}]

In [44]:
pd.DataFrame(wl2)

  user usergroup           uid
0  foo       bar  987204272651

In [73]:
uid_usergroup = pd.DataFrame(wl2, columns = ['uid','usergroup'])

In [75]:
a = uid_usergroup.loc[:,'uid']
b = uid_usergroup.loc[:,'usergroup']
c = uid_usergroup
print(a,b,c)

0    987204272651
Name: uid, dtype: int64 0    bar
Name: usergroup, dtype: object             uid usergroup
0  987204272651       bar

In [52]:
from io import StringIO

In [53]:
data = ('col1,col2,col3\n'
   ...:         'a,b,1\n'
   ...:         'a,b,2\n'
   ...:         'c,d,3')

In [54]:
pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ['COL1', 'COL3'])

  col1  col3
0    a     1
1    a     2
2    c     3

In [62]:
with open('../whitelist.csv', 'r') as wl3:
    wl3_text = wl3.readlines()
    print(wl3_text)

['user,user_type,uid\n', 'foo,default,987204272651\n', 'bar,default,987204272652\n', 'two,defualt,25737664377\n', 'ads,default,24949135176\n', ',,661562861955']

In [70]:
wl_data

  user user_type           uid
0  foo   default  987204272651
1  bar   default  987204272652
2  two   defualt   25737664377
3  ads   default   24949135176
4  NaN       NaN  661562861955

In [64]:
pd.read_csv(StringIO(wl3_text), usecols=lambda x: x.upper() in ['USER','USER_TYPE'])

TypeError: initial_value must be str or None, not list

In [68]:
wl3_text

['user,user_type,uid\n',
 'foo,default,987204272651\n',
 'bar,default,987204272652\n',
 'two,defualt,25737664377\n',
 'ads,default,24949135176\n',
 ',,661562861955']

In [69]:
pd.DataFrame(wl3_text)

                            0
0        user,user_type,uid\n
1  foo,default,987204272651\n
2  bar,default,987204272652\n
3   two,defualt,25737664377\n
4   ads,default,24949135176\n
5              ,,661562861955